In [59]:
import pandas as pd

In [109]:
#Import text data
df = pd.read_csv('input.txt', header = None)
df.columns = ['depth']

In [110]:
df.describe()

             depth
count  2000.000000
mean   3512.199500
std    2013.033444
min     171.000000
25%    1812.750000
50%    3411.500000
75%    5301.750000
max    7121.000000

In [111]:
df.head()

   depth
0    173
1    175
2    171
3    177
4    179

In [112]:
df.tail()

      depth
1995   7092
1996   7102
1997   7118
1998   7115
1999   7121

In [113]:
df.sample(25)

      depth
739    2490
1569   5528
1011   3478
450    1633
1066   3750
898    3003
774    2657
1878   6499
1499   5298
572    1903
789    2684
694    2382
1963   6976
1779   6287
976    3368
1899   6595
766    2626
237     888
362    1337
457    1675
1702   6088
962    3302
1511   5355
1834   6354
1669   5944

In [119]:
df.isnull().sum()

depth    0
dtype: int64

In [126]:
def depth_check (file: str):
    df = pd.read_csv(f'{file}', header = None)
    df.columns = ['depth']
    #Gets the depth from the prior record
    df['prior_depth'] = df['depth'].shift(1)
    #checks whether depth is greater than prior depth
    df['deeper'] = df['depth'] > df['prior_depth']
    #Counts the true/false outcomes
    output = df.groupby(by = 'deeper')['depth'].count()
    return output

In [124]:
depth_check('input.txt')

deeper
False     479
True     1521
Name: depth, dtype: int64

In [125]:
depth_check('input_test.txt')

deeper
False    3
True     7
Name: depth, dtype: int64

# Part 2

In [137]:
def cumulative_depth_check (file:str):
    df = pd.read_csv(f'{file}', header = None)
    df.columns = ['depth']
    df['3_obs_cumu_depth'] = df['depth'] + df['depth'].shift(1) + df['depth'].shift(2)
    df['prior_cumu_depth'] = df['3_obs_cumu_depth'].shift(1)
    df['deeper'] = df ['3_obs_cumu_depth'] > df ['prior_cumu_depth']
    output = df.groupby(by = 'deeper')['depth'].count()
    return output

In [129]:
df['3_obs_cumu_depth'] = df['depth'] + df['depth'].shift(1) + df['depth'].shift(2)

In [131]:
df['prior_cumu_depth'] = df['3_obs_cumu_depth'].shift(1)

In [133]:
df['deeper'] = df ['3_obs_cumu_depth'] > df ['prior_cumu_depth']

In [135]:
df.groupby(by = 'deeper')['depth'].count()

deeper
False     457
True     1543
Name: depth, dtype: int64